CMakeFiles/
obj-*/
CMakeCache.txt
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*.snap*
*.xlog*
*~
.gdb_history
/build*
/.vscode
/.rocks
VERSION
CTestTestfile.cmake
Testing
CTestTestfile.cmake
storage_*.log
storage_*.pid
*.rock
